@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div id="sortable-container" class="sortable-container">
        <!-- jQuery ile dinamik olarak kartlar buraya eklenecek -->
    </div>
</div>


@section Scripts {
    <script asp-append-version="true" src="~/js/pages/index.js"></script>
}