html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: linear-gradient(to right, #28315a 0%, #171433 100%);
    margin-bottom: 60px;
}

/*other styles*/

/* Ana konteyner */
.sortable-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    padding: 20px;
    justify-content: flex-start;
}

.card-list {
    width: 288px;
    background-color: #ebecf0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 20px;
}


    .card-list h3 {
        padding: 15px;
        margin: 0;
        color: #ffffff;
        font-size: 16px;
    }

.sortable-cards {
    padding: 10px;
    flex-grow: 1;
    min-height: 100px;
}

.card {
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(9,30,66,.25);
    font-size: 14px;
}

.card-placeholder, .list-placeholder {
    background-color: #63b462 !important;
    border: 2px dashed #888;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: none;
}

.list-placeholder {
    width: 288px;
}

.sortable-card-lists > .ui-sortable-placeholder {
    visibility: visible !important;
    height: auto !important;
    background: none !important;
}

    .sortable-card-lists > .ui-sortable-placeholder::before {
        content: '';
        display: block;
        height: 50px;
        background-color: #a4a4a4;
        border: 2px dashed #888;
        border-radius: 6px;
        margin-bottom: 20px;
    }


.add-card-list {
    width: 288px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
    color: #0079bf;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

    .add-card-list:hover {
        background-color: #c9ddd4;
        box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    }


.card {
    position: relative;
}

.delete-card {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.card:hover .delete-card {
    display: block;
}


.log-entry {
    border-bottom: 1px solid #eee;
    padding: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.log-date {
    font-weight: bold;
    color: #0079bf;
    margin-right: 10px;
}

.log-details {
    white-space: pre-wrap;
}
